.btn-login-custom {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-login-custom:hover {
        color: #fff;
        background-color: #218838; 
        border-color: #1e7e34;
    }
